form {
    padding: 10px 10px 15px;
}

input {
    color: black;
}

#buttons {
    text-align: center;
}

#key {
    width: 100;
}

#remove-field {
  color: #9d9d9d;  
}

#sidebar {
    padding-top: 40px;
}

#status {
    width: 90%;
    margin: 0 5%;
}

#status-header {
    font-weight: bold;
}

#value {
    width: 100;
}

.current-fields {
    text-overflow: ellipsis;
}

.sidebar-element {
    color: #9d9d9d;
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 15;
    padding-right: 15;
    border-bottom: 1;
    border-top: 1;
}