<nav id="sidebar" class="navbar navbar-inverse navbar-fixed-side">
    <ul class="nav navbar-nav side-nav">
        <li class="sidebar_element">
            <span><i class="fa fa-filter"></i> Status
                <select class="form-control" >
                    <option selected="selected">all</option>
                    <option>failed</option>
                    <option>passed</option>
                    <option>skipped</option>
                </select>
            </span>
        </li>
        <li class="sidebar_element">
            <table class="table sidebar_element">
                <th><i class="fa fa-key" aria-hidden="true"></i> Key</th>
                <th><i class="fa fa-list" aria-hidden="true"></i> Value</th>
                <tr ng-repeat="k in metadata.keys">
                    <td style="text-overflow:ellipsis">{{ k }}</td>
                    <td style="text-overflow:ellipsis">{{metadata.data[k]}}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-key" aria-hidden="true"> <input type="text" ng-model="key" style="width: 100"/></i></td>
                    <td><i class="fa fa-list" aria-hidden="true"> <input type="text" ng-model="value" style="width: 100"/></i></td>
                </tr>
            </table>
            <div>
                <button ng-click="metadata.add_field(key, value);tests.change_metadata(metadata.data);tests.next_page()">Add Filter</button>
                <button ng-click="metadata.remove_field(key);tests.change_metadata(metadata.data);tests.next_page()">Remove Filter</button>
                <button ng-click="metadata.clear();tests.change_metadata(metadata.data);tests.next_page()">Clear</button>
            </div>
        </li>
    </ul>
</nav>