<title>Attachment</title>
<div class="col-sm-3 col-lg-2" ng-include="'templates/attachment_sidebar.html'"></div>
<div class="col-sm-3 col-lg-4 text-center">
    <div ng-init="api.update();a=api.attachment" class="panel panel-default">
        <div class="panel-body">
            <h4 class="list-group-item-heading"><i class="fa fa-paperclip" aria-hidden="true"></i>
            <a href="#/attachments/{{a.attachment_id}}">{{ a.attachment_id }}</a>
            </h4>
            <p class="list-group-item-text">
                Attachment name: {{ a.name }}<br/>
                <a href="{{a.location}}">Download</a>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-6 col-lg-6 page_content">
    <div class="container-fluid" style="height: 300px;">
        <p style="white-space: pre-wrap;">{{ api.content }}</p>
    </div>
</div>