<title>Attachment</title>
<link rel="stylesheet" type="text/css" href="../css/run.css">
<div class="col-sm-3 col-lg-2" ng-include="'templates/attachment_sidebar.html'"></div>
<div class="col-sm-9 col-lg-10 page_content">
    <div ng-init="api.update()" class="panel panel-default">
        <div class="panel-body">
            <h4 class="list-group-item-heading">
                Attachment name: {{ api.attachment.name }}<br/>
            </h4>
            <i class="fa fa-paperclip" aria-hidden="true"></i>
            <a href="{{api.attachment.location}}">Download Original</a>
        </div>
    </div>
    <div class="container-fluid" style="height: 300px;">
        <p style="white-space: pre-wrap;">{{ api.content }}</p>
    </div>
</div>