<div class="col-sm-3 col-lg-2" ng-include="'templates/sidebar.html'"></div>
<div class="col-sm-9 col-lg-10 page_content">
    <div class="container-fluid" style="height: 300px;">
        <div infinite-scroll="api.next_page()" infinite-scroll-disabled="api.busy" infinite-scroll-distance="2">
            <div class="list-group" >
                <div class="list-group-item" ng-repeat="item in api.items" ng-class="api.color(item)" ng-include="api.list_template"></div>
            </div>
        </div>
        <div ng-show="api.show">Loading data...</div>
    </div>
</div>