<title>Individual Test Run</title>
<link rel="stylesheet" type="text/css" href="../css/run.css">
<div class="col-sm-3 col-lg-2" ng-include="'templates/sidebar.html'"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="column-container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-init="api.change_run()">
                            <div ng-repeat='key in ["run_id", "passed", "failed", "skipped", "run_at", "run_time", "metadata"]'>{{ key }} : {{ api.run[key] }}</div>
                        </div>
                        <div ng-repeat="a in api.attachments">
                            <h4 class="list-group-item-heading"><i class="fa fa-paperclip" aria-hidden="true"></i>
                            <a href="#/attachments/{{a.attachment_id}}">{{ a.attachment_id }}</a>
                            </h4>
                            <p class="list-group-item-text">
                                Attachment name: {{ a.name }}<br/>
                                <a href="{{a.location}}">Download</a>
                            </p>
                        </div>
                        <div>
                            <div class="graph">
                                <!-- Pass/Fail/Skip for every test in a specific run, filtered by _parent (you'll need the run's _id) -->
                                <iframe ng-src="{{api.get_graph_url()}}" height="600" width="625"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <div class="list-group-item" ng-repeat="item in api.items" ng-class="api.color(item)" ng-include="api.list_template"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>