<nav id="sidebar" class="navbar navbar-inverse navbar-fixed-side">
    <ul class="nav navbar-nav side-nav">
        <li class="sidebar-element">
            <span>
                <i class="fa fa-filter"></i> <span id="status-header">Status</span>
                <select id="status" class="form-control" ng-model="status" ng-change="api.change_status(status)">
                    <option ng-repeat="s in api.statuses" ng-selected="$index==0">{{ s }}</option>
                </select>
            </span>
        </li>
        <li class="sidebar_element">
            <form>
                <table class="table sidebar-element">
                    <th>
                        <i class="fa fa-key" aria-hidden="true"></i> Key
                    </th>
                    <th>
                        <i class="fa fa-list" aria-hidden="true"></i> Value
                    </th>
                    <tr ng-repeat="k in api.metadata.keys">
                        <td class="current-fields">{{ k }}</td>
                        <td class="current-fields">{{ api.metadata.data[k] }}</td>
                        <td>
                            <a id="remove-field" ng-click="api.remove_meta_field(k)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-key" aria-hidden="true">
                                <input type="text" id="key" ng-model="key" />
                            </i>
                        </td>
                        <td><i class="fa fa-list" aria-hidden="true">
                                <input type="text" id="value" ng-model="value" />
                            </i>
                        </td>
                    </tr>
                </table>
                <div id="buttons">
                    <input type="submit" value="Add Filter" ng-click="api.add_meta_field(key, value)">
                    <input type="button" value="Clear" ng-click="api.clear_meta()">
                </div>
            </form>
        </li>
    </ul>
</nav>