<title>Individual Test Run</title>
<link rel="stylesheet" type="text/css" href="../css/run.css">
<div class="col-sm-3 col-lg-2" ng-include="'templates/sidebar.html'"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="column-container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-init="api.update()">
                            <div ng-repeat='key in ["test_name", "test_id", "status", "run_id", "start_time", "stop_time", "metadata"]'>{{ key }} : {{ api.test[key] }}</div>
                        </div>
                        <div>
                            <div ng-repeat='key in ["failed", "passed", "run_count", "skipped"]' >{{ key }} : {{ api.stats[key] }}</div>
                        </div>
                        <div ng-repeat="a in api.attachments">
                            <h4 class="list-group-item-heading"><i class="fa fa-paperclip" aria-hidden="true"></i>
                            <a href="#/attachments/{{a.attachment_id}}">{{ a.attachment_id }}</a>
                            </h4>
                            <p class="list-group-item-text">
                                Attachment name: {{ a.name }}<br/>
                                <a href="{{a.location}}">Download</a>
                            </p>
                        </div>
                        <div>
                            <div class="graph">
                                <!-- Test status over time, filtered by test_name -->
                                <iframe ng-src="{{api.get_graph_url()}}" height="600" width="625"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>