<title>Test</title>
<div class="row">
    <div class="col-lg-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body" ng-init="api.update_item()">
                <p ng-repeat='key in ["test_name", "test_id", "status", "run_id", "start_time", "stop_time", "metadata"]'>{{ key }} : {{ api.test[key] }} </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <p ng-repeat='key in ["failed", "passed", "run_count", "skipped"]' >{{ key }} : {{ api.stats[key] }} </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                <p ng-repeat="a in api.attachmetns">a</p>
            </div>
        </div>
    </div>
</div>