<!--
Pass/Fail/Skip by test name for all tests
You could filter this by run_id as well by including _parent: blah where blah = run _id
<iframe src="http://104.239.149.127:443/app/kibana#/visualize/edit/pass_fail_by_test_name?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-90d,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'_type:%20test')),uiState:(vis:(colors:(failed:%23E0752D,passed:%23447EBC))),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'3',params:(field:test_name,order:desc,orderBy:'1',size:0),schema:segment,type:terms),(id:'2',params:(field:status,order:desc,orderBy:'1',size:0),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!t,shareYAxis:!t),title:pass_fail_by_test_name,type:pie))" height="600" width="800"></iframe>
-->

<link rel="stylesheet" type="text/css" href="../css/tests.css">
<h4 class="list-group-item-heading">
    <title>Tests</title>
    <a href="#/tests/{{item.test_id}}" id="test-name">{{ item.test_name }}</a>
</h4>
<p class="list-group-item-text">status: {{ item.status }}
metadata: {{ item.metadata }}</p>